## system.properties
#
# each unifi instance requires a set of ports:
#
## device inform
unifi.http.port=8080
## controller UI / API
unifi.https.port={{ unifi_https_port }}
## portal redirect port for HTTP
portal.http.port={{ unifi_http_portal }}
## portal redirect port for HTTPs
portal.https.port= {{ unifi_https_portal }}
## local-bound port for DB server
unifi.db.port={{ unifi_db_port }}
## UDP port used for STUN
# unifi.stun.port=3478
#
## the IP devices should be talking to for inform
# system_ip=a.b.c.d
## disable mongodb journaling
# unifi.db.nojournal=false
## extra mongod args
# unifi.db.extraargs
#
## HTTPS options
# unifi.https.ciphers=TLS_RSA_WITH_AES_256_CBC_SHA,TLS_RSA_WITH_AES_128_CBC_SHA
# unifi.https.sslEnabledProtocols=TLSv1,SSLv2Hello
# unifi.https.hsts=false
# unifi.https.hsts.max_age=31536000
# unifi.https.hsts.preload=false
# unifi.https.hsts.subdomain=false
#
# Ports reserved for device redirector. There is no need to open
# firewall for these ports on controller, however do NOT set
# controller to use these ports.
#
# portal.redirector.port=8881
# portal.redirector.port.wired=8882
#
# Port used for throughput measurement.
# unifi.throughput.port=6789
#
#Sat Nov 24 03:45:35 UTC 2018
data_retention_days={{ device_retention_days }}
debug.device= {{ debug_device }}
debug.mgmt={{ debug_mgmt }}
debug.system={{ debug_system }}
is_default=false
reporter-uuid=122e0c50-df2d-4b6c-952c-3acc34ec3a3b
uuid=02db470c-ac83-4e96-a893-fb50e7783a52
